<h3>Update Message Details</h3>
<%= form_with model: @msg do |form| %>
  <%= form.text_field :messageid, placeholder: "Message ID" %>
  <%= form.text_field :departmentid, placeholder: "Enter Department ID to send Message" %>
  <%= form.text_field :title, placeholder: "Subject" %>
  <%= form.text_field :title, placeholder: "Type Message Here.." %>
  <%= form.submit %>
<% end %>